
div#fblogin{
	padding-top: 80px;
	text-align: center;
}

div#inGame {
	text-align: left; 
}

div#top {
	padding-top: 70px;
	text-align: center;
}

div#middle{
	padding-top: 10px;
}

li#player_name{
	list-style-type: none;
	margin-bottom: 5px;
}

.loggedoff {
	display: block;
	text-align: center;
}

.loggedin {
	display: none;
	text-align: center;
}

div#input_area{
	display: block;
}

div#disabled_input_area{
	display: block;
}

ul.list{
	border: 1px solid blue;
}

li.listitem{
	text-align: center;
	color: yellow;
}

div#msg {
	border: 1px solid red;
}

div#chatroom {
	display: block;
	height: 200px;
	border: 1px solid #999;
	border-radius: 10px;
	overflow: auto;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}

div#display_name {
	background-color: #FFFF33;
	height: 50px;
	border: 1px solid #000;
	border-radius: 10px;
	border-bottom: 0px;
	width: 100%;
	padding-top: 0px;
	margin-bottom: 10px;
	position: relative;
}

div#user_list {
	display: inline;
	list-style: none;
}

div#user_id {
	display: inline;
}

div#chat_log {
	list-style: none;
	position: absolute;
	bottom: 0px;
	display: inline;
}

li#chat_li {
	display: inline;
}

ul#display_word{
	color: blue;
	text-align: center;
}

li#show{
	display: inline;
}

input#chat_box {
	width: 99%;
}

div#inputbox {
	width: 99%;
	height: 30%;
}

div#earnpoints {
	border-right: 3px;
	border-bottom: 3px;
}

div#gamepoints {
	border-right: 3px;
	border-bottom: 3px;
}

div#points {
	border-right: 3px;
	border-bottom: 3px;
}