/* Large desktop */
@media (min-width: 980px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}

.loggedoff {
	display: block;
}

.loggedin {
	display: none;
}

div#chatroom {
	display: block;
	height: 200px;
	border: 1px solid #999;
	border-radius: 10px;
	overflow: auto;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}

div#display_name {
	background-color: #FFFF33;
	height: 50px;
	border: 1px solid #000;
	border-radius: 10px;
	border-bottom: 0px;
	width: 100%;
	padding-top: 0px;
	margin-bottom: 10px;
	position: relative;
}

ul#user_list {
	display: inline;
	list-style: none;
}

li#user_id {
	display: inline;
}

ul#chat_log {
	list-style: none;
	position: absolute;
	bottom: 0px;
	display: inline;
}

li#chat_li {
	display: inline;
}

input#chat_box {
	width: 99%;
}

div#inputbox {
	width: 99%;
	height: 30%;
}